<form method="POST" action="/new" >
  <h2>Name: <input type="text" name="name"></h2>
  <h2>Breed: <input type="text" name="breed"></h2>
  <h2>Age: <input type="text" name="age"></h2>
  <p><input type="submit" name="submit" id="submit"></p>
</form>
